{% load static %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<!doc<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Guetto</title>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="navbar">
        <header>
            <img class="img" src="{% static 'website_photos/Guetto Logo.png'%}" />
        </header>
        <a class="home" href="{% url 'landing' %}"><span class="text-home"><i class='bx  bx-home'></i><span>Accueil</span></span></a>
        <a class="option" href="#"><span class="text-home"><i class='bxr  bx-contact-book'></i> <span>Pour Toi</span></span></a>
        <a class="option" href="#"><span class="text-home"><i class='bxr  bx-search'></i> <span>Rechercher</span></span></a>
        <a href="{% url 'profile' user.profile.pk %}" class="option"><span class="text-home"><i class='bxr  bx-user-circle'></i><span>Profil</span></span></a>
        <a href="{% url 'settings' %}" class="settings"><span class="text-home"><i class='bxr  bx-user-circle'></i><span>Settings</span></span></a>
        <form method="post" action="{% url 'logout' %}" class="logout">
            {% csrf_token %}
            <button type="submit" href="{% url 'logout' %}" class="logout-text"><span class="text-home"><i class='bx  bx-home'></i><span>Se déconnecter</span></span></button>
        </form>
    </nav>

    <div class="content">
        {% for post in post_list %}
        <div class="post-1">
            <p><strong>{{ post.author }}</strong> {{ post.created_on }}</p>
            <p>{{ post.body }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>

{% else %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="container">
    <p class="text">Vous êtes déjà connecté</p>
    <a class="text" href="{% url 'landing' %}">Retournez sur la page d'accueil</a>
</div>
{% endif %}