{% load static %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="navbar">
        <header>
            <img class="img" src="{% static 'website_photos/Guetto Logo.png'%}" />
        </header>
        <a class="home" href="{% url 'landing' %}"><span class="text-home"><i class='bx  bx-home'></i><span>Accueil</span></span></a>
        <a class="option" href="#"><span class="text-home"><i class='bxr  bx-contact-book'></i> <span>Pour Toi</span></span></a>
        <button class="option" onclick="SearchToggle('search')"><span class="text-home"><i class='bxr  bx-search'></i> <span>Rechercher</span></span></button>
        <a href="{% url 'profile' user.profile.pk %}" class="option"><span class="text-home"><i class='bxr  bx-user-circle'></i><span>Profil</span></span></a>
        <a href="{% url 'settings' %}" class="settings"><span class="text-home"><i class='bxr  bx-user-circle'></i><span>Settings</span></span></a>
        <form method="post" action="{% url 'logout' %}" class="logout">
            {% csrf_token %}
            <a type="submit" href="{% url 'logout' %}" class="logout-text"><span class="text-home"><i class='bx  bx-home'></i><span>Se déconnecter</span></span></a>
        </form>
    </nav>

    <div class="content">
        <div class="search-bar d-none" id="search">
            <form method="GET" class="search-button" action="{% url 'search' %}">
                <input type="search" name="query" placeholder="Rechercher un utilisateur..." />
                <button type="submit"><i class='bx bx-search'></i></button>
            </form>
            {% if profile_list %}
            {% for profile in profile_list %}
            <p class="result"><a href="{% url 'profile' profile.pk %}" style="color:dodgerblue; font-family:Calibri; font-size:16px;"><strong>@{{ profile.user }}</strong></a></p>

            {% endfor %}
            {% endif %}
        </div>
        <div>
            <img class="userimage" src="{{ profile.user_picture.url }}" width="100" height="100">
            <br />
            {% if profile.name and not profile.bio %}
            <h3 class="username">{{ profile.name }}</h3>
            {% endif %}
            {% if profile.bio %}
            <h3 class="username">{{ profile.name }}</h3>
            <h3 style="font-family: Calibri; text-align: center; padding-bottom: 15px;"><strong style="font-family: 'Arial Black'; font-size: 16px; ">BIO</strong>: <i style="font-size: 16px">{{ profile.bio }}</i></h3>
            {% endif %}
            <div style="border-bottom: 2px solid black; padding-bottom: 30px; text-align: center; margin: 0 auto; width: 70vw; gap: 5vw;">
                <div class="usercontent">
                    Followers: {{ number_of_followers }}
                    Following: {{ number_of_following }}<br>
                </div>

                {% if user != profile_user %}
                {% if is_following %}
                <form method="post" action="{% url 'remove-follower' profile.pk %}">
                    {% csrf_token %}
                    <br />
                    <button class="unfollow" type="submit">Unfollow</button>
                </form>
                {% else %}
                <form method="post" action="{% url 'add-follower' profile.pk %}">
                    {% csrf_token %}
                    <br />
                    <button class="follow" type="submit">Follow</button>
                </form>
                {% endif %}
                {% endif %}
            </div>

        </div>
        {% if user.id == profile_user.id %}
        <div>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form | crispy }}
                <br />
                <button type="submit" class="submit">Envoyer</button>
            </form>
        </div>
        {% endif %}
        {% for post in posts %}
        <div class="post-1">
            <p><strong>{{ post.author }}</strong> {{ post.created_on }}</p>
            <p>{{ post.body }}</p>
            <form method="POST" action="{% url 'like' post.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit"><i class='bxr  bx-like'></i><span> {{ post.likes.all.count }}</span></button>
            </form>
        </div>
        {% endfor %}
    </div>
</body>
</html>

{% else %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="container">
    <p class="text">Vous êtes déjà connecté</p>
    <a class="text" href="{% url 'landing' %}">Retournez sur la page d'accueil</a>
</div>
{% endif %}